container_commands:

  01init_dotenv_app_name:
    command: "echo \"APP_NAME=$APP_NAME\" > .env"
  02init_dotenv_app_env:
    command: "echo \"APP_ENV=$APP_ENV\" >> .env"
  03init_dotenv_app_key:
    command: "echo \"APP_KEY=$APP_KEY\" >> .env"
  04init_dotenv_app_debug:
    command: "echo \"APP_ENV=$APP_DEBUG\" >> .env"
  05init_dotenv_app_url:
    command: "echo \"APP_URL=$APP_URL\" >> .env"