Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: aws-elasticbeanstalk-ec2-role
                    buckets: thyart-api-passport-keys

files:
    /var/www/html/storage/oauth-private.key:
        source: https://s3-eu-west-1.amazonaws.com/thyart-api-passport-keys/oauth-private.key

    /var/www/html/storage/oauth-public.key:
        source: https://s3-eu-west-1.amazonaws.com/thyart-api-passport-keys/oauth-public.key