container_commands:

    01init_dotenv_db_host:
        command: "echo \"DB_HOST=$RDS_HOSTNAME\" >> .env"
    02init_dotenv_db_port:
        command: "echo \"DB_PORT=RDS_PORT\" >> .env"
    03init_dotenv_db_database:
        command: "echo \"DB_DATABASE=$RDS_DB_NAME\" >> .env"
    04init_dotenv_db_username:
        command: "echo \"DB_USERNAME=$RDS_USERNAME\" >> .env"
    05init_dotenv_db_password:
        command: "echo \"DB_PASSWORD=$RDS_PASSWORD\" >> .env"
    06init_db:
        command: "php artisan aws:deploy"
