container_commands:

    01init_dotenv_mail_driver:
        command: "echo \"MAIL_DRIVER=$MAIL_DRIVER\" >> .env"
    02init_dotenv_mail_host:
        command: "echo \"MAIL_HOST=$MAIL_HOST\" >> .env"
    03init_dotenv_mail_port:
        command: "echo \"MAIL_PORT=$MAIL_PORT\" >> .env"
    04init_dotenv_mail_username:
        command: "echo \"MAIL_USERNAME=$MAIL_USERNAME\" >> .env"
    05init_dotenv_mail_password:
        command: "echo \"MAIL_PASSWORD=$MAIL_PASSWORD\" >> .env"
    06init_dotenv_mail_encryption:
        command: "echo \"MAIL_ENCRYPTION=$MAIL_ENCRYPTION\" >> .env"
    07init_dotenv_mail_from_address:
        command: "echo \"MAIL_FROM_ADDRESS=$MAIL_FROM_ADDRESS\" >> .env"
    08init_dotenv_mail_from_name:
        command: "echo \"MAIL_FROM_NAME=$MAIL_FROM_NAME\" >> .env"