container_commands:

  07init_dotenv_app_name:
    command: "echo \"APP_NAME=$APP_NAME\" > .env"
  08init_dotenv_app_name:
    command: "echo \"APP_ENV=$APP_ENV\" >> .env"
  09init_dotenv_app_key:
    command: "echo \"APP_KEY=$APP_KEY\" >> .env"
  10init_dotenv_app_debug:
    command: "echo \"APP_ENV=$APP_DEBUG\" >> .env"
  11init_dotenv_app_url:
    command: "echo \"APP_URL=$APP_URL\" >> .env"

  12init_dotenv_db_connection:
    command: "echo \"DB_CONNECTION=mysql\" >> .env"
  13init_dotenv_db_host:
    command: "echo \"DB_HOST=$RDS_HOSTNAME\" >> .env"
  14init_dotenv_db_port:
    command: "echo \"DB_PORT=3306\" >> .env"
  15init_dotenv_db_database:
    command: "echo \"DB_DATABASE=$RDS_DB_NAME\" >> .env"
  16init_dotenv_db_username:
    command: "echo \"DB_USERNAME=$RDS_USERNAME\" >> .env"
  17init_dotenv_db_password:
    command: "echo \"DB_PASSWORD=$RDS_PASSWORD\" >> .env"

  18init_db:
    command: "php artisan aws:deploy"

Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: aws-elasticbeanstalk-ec2-role
                    buckets: thyart-api-passport-keys

files:
    /var/www/html/storage/oauth-private.key:
        source: https://s3-eu-west-1.amazonaws.com/thyart-api-passport-keys/dev/oauth-private.key

    /var/www/html/storage/oauth-public.key:
        source: https://s3-eu-west-1.amazonaws.com/thyart-api-passport-keys/dev/oauth-public.key
